<div class="container d-flex flex-justify-content-center zone-center p-10">
  <div class="secondary-zone">
    <form [formGroup]="form">
      <div class="d-flex flex-justify-content-center">
        <mat-icon (click)="displayForm()" aria-hidden="false" aria-label="Contact icon" fontIcon="edit" class="mt-30"></mat-icon>
        <img *ngIf="user.admin == null" src="../../../assets/images/logo.png" alt="Photo profil">
        <img *ngIf="user.admin" [src]="user.picture" alt="Photo profil">
        <p *ngIf="user.admin" class="admin">Admin</p>
      </div>
      <div *ngIf="hide" class="d-flex flex-justify-content-center">
        <h3 class="p-10">{{user.last_name}}</h3>
        <h3 class="p-10">{{user.first_name}}</h3>
      </div>
      <div *ngIf="display" class="d-flex flex-justify-content-center">
        <div class="p-10 card-input d-flex flex-column">
          <label for="last_name">Nom*</label>
          <input type="text" name="last_name" [ngModel]="user.last_name" placeholder="Nom" id="lastNameInput" formControlName="last_name"/>
        </div>
        <div *ngIf="display" class="p-10 card-input d-flex flex-column">
          <label for="first_name">Prenom*</label>
          <input type="text" name="first_name" [ngModel]="user.first_name" id="firstNameInput" formControlName="first_name"/>
        </div>
      </div>
      <span *ngIf="hide"> {{user.birthday_date | date: "dd/MM/yyyy"}}</span>
      <div class="user-information">
        <div *ngIf="display" class="p-10 card-input d-flex flex-column">
          <label for="Birthday">Date de naissance*</label>
          <input type="date" name="Birthday" [ngModel]="user.birthday_date  | date:'yyyy-MM-dd'" id="BirthdayInput" formControlName="birthday_date"/>
        </div>
        <div *ngIf="hide">
          <mat-icon aria-hidden="false" aria-label="Contact icon" fontIcon="phone" class="mt-30"></mat-icon>
          <span>{{user.phone_number}}</span>
        </div>
        <div *ngIf="display" class="p-10 card-input d-flex flex-column">
          <label for="Phone">Numéro de téléphone*</label>
          <input type="text" name="Phone" [ngModel]="user.phone_number" id="PhoneInput" formControlName="phone_number"/>
        </div>
        <div *ngIf="hide">
          <mat-icon aria-hidden="false" aria-label="Contact icon" fontIcon="mail_outline" class="mt-30"></mat-icon>
          <span>{{user.email}}</span>
        </div>
        <div *ngIf="display" class="p-10 card-input d-flex flex-column">
          <label for="email">Email*</label>
          <input type="text" name="email" [ngModel]="user.email" id="EmailInput" formControlName="email"/>
        </div>
        <div *ngIf="hide">
          <mat-icon aria-hidden="false" aria-label="Contact icon" fontIcon="place" class="mt-30"></mat-icon>
          <span>{{user.city}}</span>
        </div>
        <div *ngIf="display" class="p-10 card-input d-flex flex-column">
          <label for="city">Ville*</label>
          <input type="text" name="city" [ngModel]="user.city" id="CityInput" formControlName="city"/>
        </div>
      </div>

      <div *ngIf="display" class="d-flex flex-justify-content-center">
        <app-button theme="secondary" (click)="cancelForm()" text="Annuler"></app-button>
        <app-button theme="primary" (click)="onSubmitForm()" text="Modifier">
          <input type="submit">
        </app-button>
      </div>
    </form>
  </div>

</div>
