@import "../../../assets/stylesheet/variables";

  button {
    opacity: 0;
  }

  .btn {
    margin-bottom: 3rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
    }
  }
  // gros bouton exemple home page
  .btn-big {
    padding: 10px 50px;
    margin: 3rem 5rem;
    border: none;
    display: block;
    background-color: $color-blue;
    // h3
    font-family: $headers-font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: $color-yellow;
    &:hover {
      background-color: $color-yellow;
      color: $color-blue;
    }
  }

  // bouton principal
  .btn-primary {
    padding: 5px 10px;
    border: none;
    margin-left: 2rem;
    // h5
    font-family: $headers-font;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    background-color: $color-blue;
    color: $color-yellow;
    &:hover {
      background-color: $color-yellow;
      color: $color-blue;
    }
  }

  //bouton secondaire
  .btn-secondary {
    padding: 5px 10px;
    border: none;
    border: 1px solid $color-yellow;
    // h5
    font-family: $headers-font;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: $color-black;
    &:hover {
      background-color: $color-yellow;
      color: $color-blue;
    }
  }
