<div class="d-flex flex-justify-content-space-around">
    <div class="width-50 m-10">
        <app-calendar [dataEvents]="arrayEvents" (clickEvent)="transmitEvents($event)" (clickCreateEvent)="swapToCreateEvent($event)"></app-calendar>
    </div>
    <div *ngIf="panelDisplay == 'displayEventDay'" class="width-50 m-10">
        <app-day-event-details [arrayDisplayEvents]="arrayEventsDisplay"></app-day-event-details>
    </div>
    <div *ngIf="panelDisplay == 'createEvent'" class="width-50 m-10">
        <app-create-event (newEventCreated)="newEventCreated()"></app-create-event>
    </div>
</div>