// color variables
$color-white: white;
$color-yellow-light: #FFE5B4;
$color-yellow: #E8AA42;
$color-blue-light: #1F4690;
$color-blue: #231955;
$color-black: #040309;
$color-green: #96CEB4 ;
$color-red: #D9534F;

// font family
$headers-font: 'Nunito', "Helvetica", sans-serif;
$body-font: "Work Sans", "Helvetica", "sans-serif";
