// color variables
$color-white: white;
$color-yellow-light: #FFE5B4;
$color-yellow-light-opacity: rgba(255, 229, 180, 0.1);
$color-yellow: #E8AA42;
$color-blue-light: #1F4690;
$color-blue: #231955;
$color-black: #110d26;
$color-green: #96CEB4 ;
$color-red: #D9534F;

// font family
$headers-font: 'Nunito', "Helvetica", sans-serif;
$body-font: "Work Sans", "Helvetica", "sans-serif";

// height navbar
$navbar-height: 12vh;
$sidebar-width-close: 6vh;
$sidebar-width-open: 20vh;
