
<!-- carte individuelle event-->    
<div>
    <ul>
        <li *ngFor="let event of events" class=" blue m-1 p-10 height-25 green-light">
            <p class="text-center" > {{event.title | uppercase}}</p><br>
            <p>Date : {{event.date_event |date: 'dd-MM-yyyy' }}</p><br>
            <p>De: {{event.start_time.hours}}:{{event.start_time.minutes}} à {{event.end_time.hours}}:{{event.end_time.minutes}}  </p><br>
            <p>Notes : {{event.description}} </p>
            <p>[A REGLER] participant 1 - participant 2 - participant 3</p>
        </li>
    </ul>           
</div>