@import "../../../../../assets/stylesheet/variables";

div {
    padding: 2vh;
    background-color: $color-beige-light;
    border-radius: $border-radius-8;
    height: 6vh;
    text-align: center;
    width: 6vh;
    cursor: pointer;

    &:hover{
        background-color: $color-white;
    }

    &.active {
        background-color: $color-green;
        &:hover{
            background-color: $color-green-light;
        }
    }
}