<div class="image-home">
  <div class="card-form">

    <form (ngSubmit)="onSubmitForm()">
      <div class="p-10 card-input">
        <input type="text" name="identifiant" placeholder="identifiant" id="identifiantInput" [(ngModel)]="identifiant"/>
      </div>
      <div class="p-10 card-input">
        <input type="text" name="password" placeholder="mot de passe" id="passwordInput" [(ngModel)]="password"/>
      </div>
      <app-button (Click)="onSubmitForm()" text="Login">
        <input type="submit">
      </app-button>
    </form>

  </div>
</div>
