@import "../../../assets/stylesheet/variables";

.event-details-list {
    .event-details-list-header {
        padding: 3vh 2vh;
        text-align: center;
    }
    .alert {
      text-align: center;
    }
}
