<div class="component calendar">
    <div class="calendar-content">
        <div class="week-number">
            <a class="week-number-button">
                <mat-icon aria-hidden="false" aria-label="Previous week" fontIcon="navigate_before"></mat-icon>
            </a>
            <p>Semaine</p>
            <a class="week-number-button">
                <mat-icon aria-hidden="false" aria-label="Next week" fontIcon="navigate_next"></mat-icon>
            </a>
        </div>
        <app-list-day-event></app-list-day-event>
    </div>
    <div class="component-options">
        <app-button theme="primary" text="Gestion planning" type="submit"></app-button>
        <app-button theme="primary" text="Exporter planning" type="submit"></app-button>
    </div>
</div>
