@import "../../../assets/stylesheet/variables";

.calendar {
    .calendar-content {
        .week-number {
            align-items: center;
            background-image: $background-color-yellow;
            border-radius: $border-radius-8 $border-radius-8 0 0;
            color: $color-white;
            display: flex;
            justify-content: space-between;
            padding: 3vh 2vh;

            p {
                color: $color-black;
            }
        }

        .week-number-button {
            align-items: center;
            background-color: $color-beige;
            border-radius: 50%;
            color: $color-black;
            cursor: pointer;
            display: flex;
            justify-content: center;
            height: 3vh;
            width: 3vh;
        }
    }
}