<div *ngIf="isDisplayed" class="sidebar">
    <a href="/planning" class="sidebar-option">
        <mat-icon aria-hidden="false" aria-label="Calendar icon" fontIcon="calendar_month"></mat-icon>
        <span>Planning</span>
    </a>
    <a href="/contact" class="sidebar-option">
        <mat-icon aria-hidden="false" aria-label="Contact icon" fontIcon="perm_contact_calendar"></mat-icon>
        <span>Contact</span>
    </a>
    <a href="/profil" class="sidebar-option">
        <mat-icon aria-hidden="false" aria-label="Profil icon" fontIcon="contact_page"></mat-icon>
        <span>Profil</span>
    </a>
</div>