@import "../../assets/stylesheet/variables";

.image-home {
  height: 100vh;
  background-image:linear-gradient(rgba(255, 240, 220, 0.6), rgba(255, 240, 220, 0.6)), url('../../assets/images/image_home.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30vh;
  .cadreh1 {
    padding: 0rem 12rem;
    span {
      color: $color-yellow;
      font-weight: bold;
      font-size: 5rem;
    }
  }
}
